/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo-Img {
    border-radius: 50px;
    transition: .2s;
}

.logo-Img:hover {
    box-shadow: 0 0 8px blue;
    transform: scale(1.2);
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1250px;
    margin: auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #00ff08;
}

/* ESTILO DO CABEÇALHO */

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #b4b4b4;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header a:hover {
    color: #fff;
    transform: scale(1.2);
}

.btn-contato button:hover{
    box-shadow: 0px 0px 8px #0d9c12;
    transform: scale(1.2); 
}


/*ESTILO DO TOPO DO SITE*/

section.topo-do-site{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    margin-bottom: 10px;
}



section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: white;
    font-size: 40px;
}

.topo-do-site h1 span{
    color: #00ff08;
}

.topo-do-site .txt-topo-site p{
    color: white;
    margin: 40px 0;
    text-align: justify;
}

section.topo-do-site .flex .img-topo-site{
    border-radius: 500px;
}

.topo-do-site .img-topo-site img{
    border-radius: 50px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO PROJETOS */

section.projeto{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

.projeto.flex{
    display: flex;
    gap: 60px;
    align-items: center;
    align-items: stretch;
}

.projeto .projeto-box{
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    margin-bottom: 45px;
    border-radius: 20px;
    transition: .2s;
}

.projeto .projeto-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #fff;
}

.projeto .projeto-box i{
    font-size: 70px;
    color: #00ff08;
}

.projeto .projeto-box h3{
    font-size: 20px;
    margin: 15px;
}

.projeto .projeto-box p{
    font-size: 15px;
    margin: 15px;
    align-items: center;
    justify-content: center;
}



/* ESTILO DO SOBRE */

section.sobre{
    padding: 40px 4%;
}

.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .img-sobre .img-linguagens{
    align-items: center;
    padding-top: 40px;
    line-height: 80px;
}

.sobre .img-sobre .img-linguagens .img-linguagens-transform{
    transition: .2s;
}
.sobre .img-sobre .img-linguagens .img-linguagens-transform:hover{
    box-shadow: #b4b4b4;
    transform: scale(1.1);
}

.sobre .txt-sobre{
    color: #fff;
    margin-bottom: 20px;
    align-items: center;
    justify-items: center;
    gap: 60px;
}

.sobre .txt-sobre ul li{
    margin-left: 50px;
}
.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    padding-top: 40px;
}

.sobre .txt-sobre h2 span{
    color: #00ff08;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre h3{
    font-size: 20px;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin: 20px 18px 0 18px;
    transition: .2s;
    background-color: #00ff08; 
}

.btn-social button:hover{
    box-shadow: 0 0 8px #00ff08;
    transform: scale(1.2);
}

/* ESTILO DO PORTFOLIO*/

section .portfolio{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

.portfolio .titulo{
    padding-top: 80px;
}

.portfolio .flex{
    justify-content: space-around;
    margin-top: 80px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: .6s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO DO RODAPE */

footer{
    margin-top: 80px;
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px;
}

.borda{
    border-top: 2px solid #00ff08;
}

footer .line-footer p i{
    color: #00ff08;
    font-size: 25px;
}

footer .line-footer p a{
    color: #fff;
}

/* INICIO DA PAGINA RESPONSIVA */
@media screen and (max-width: 960px){
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /* TOPO DO SITE */
    .topo-do-site h1{
        line-height: 40px;
        text-align: center;
    }
}



















